@font-face {
    font-family: "nintendo_m" ;
    src: url("../fonts/contm.ttf"),url("../fonts/contm.woff2") format("woff2");
}
@font-face {
    font-family: "nintendo_l" ;
    src: url("../fonts/contl.ttf"),url("../fonts/contl.woff2") format("woff2");
}

body{
    font-family: "nintendo_m";
    height: 100vh;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: flex-end;
    margin-left: 3%;
    margin-top: 3%;
}

nav a{
    width: 3.5%;
    height: 3.5%;
    color: #fe0016;
    cursor: pointer;
}
.bi-house-fill{
    width: 100%;
    height: 100%;
}

h1{
    margin: 0%;
    font-size: 300%;
}

/* ******************************************* */
main{
    margin-left: 3%;
}

.series{
    border-top: 1px solid grey;
    margin-top: 3%;
}
.amiibo_list{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}
.amiibo{
    width: 20%;
    height: 100%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    background-color: rgb(216, 200, 110);  
    border: 1px solid rgb(216, 200, 110);
    box-shadow: 4px 4px 10px grey;
    border-radius: 5px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.button_myFavorite{
    width: 20%;
    height: 30%;
    border: none;
    background: transparent;
    cursor: pointer;
}
.button_myFavorite:hover svg{
    color: rgb(39, 39, 39);
}
.button_myFavorite svg{
    width: 100%;
    height: 100%;
}
.top img{
    width: 50%;
}


.bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.button_myCollec{
    width: 60px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.bottom img{
    width: 100%;
    height: 100%;
}

.bottom h3{
    margin: 0%;
}
.loading img{
    width: 60px;
    height: 60px;
    position: relative;
    top: 250px;
    right: -100px;
}